<div class="container">
  <h1>Edit Question!</h1>
  <% if @error %>
  <div class="errors"><%= @error %></div>
  <% end %>

  <form class="question" method="post" action="/surveys/<%= @survey.id %>/questions/
    <%= @question.id %>/edit">
    <input type="hidden" name="_method" value="PUT"/>
    <label class="label" for="question_body">Question Body</label>
    <input type="text" name="question_body" value="<%= @question.question_body if @question %>"><br>
    <div class="submit"><input type="submit" value="Save Survey"></div>
  </form>

  </div>
</div>
