<div class="container">
  <h1>Edit Survey!</h1>
  <% if @error %>
  <div class="errors"><%= @error %></div>
  <% end %>

  <form class="survey" method="post" action="/surveys/<%= @current_survey.id %>/edit">
    <input type="hidden" name="_method" value="PUT"/>
    <label class="label" for="title">Title</label>
    <input type="text" name="title" value="<%= @current_survey.title if @current_survey %>"><br>
    <div class="submit"><input type="submit" value="Continue"></div>
  </form>

  </div>
</div>
